# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Database Files
database/*.db

# Captured Face Images
captured_faces/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db