<!DOCTYPE html>
<html>

<head>

    <title>Dashboard</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

    <div class="card">

        <h1>Dashboard</h1>

        <p>
    Welcome
    <span class="username">
        {{ username }}
    </span>
</p>

<div class="divider"></div>

        <br>

        <p>
            Face Recognition Authentication
            Successful.
        </p>

        <p>
            You are securely logged in.
        </p>

        <br>

        <a href="/logout">
            <button>
                Logout
            </button>
        </a>

    </div>

</body>

</html>