<!DOCTYPE html>
<html>

<head>

    <title>Face Recognition Login System</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

    <div class="card">

        <h1>
            Face Recognition Login System
        </h1>

        <p>
            Secure authentication powered by
            Artificial Intelligence and
            Computer Vision.
        </p>

        <br>

        <a href="/register">
            <button>
                Register
            </button>
        </a>

        <a href="/login">
            <button>
                Login
            </button>
        </a>

    </div>

</body>

</html>