<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

    <div class="card">

        <h1>Face Login</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <p>
            Click Login and then press
            <strong>C</strong>
            in the webcam window to authenticate.
        </p>

        <br>

        <form action="/face-login" method="post">

            <button type="submit">
                Login With Face
            </button>

        </form>

        <br>

        <a href="/">
            Home
        </a>

    </div>

</body>

</html>