<!DOCTYPE html>
<html>

<head>

    <title>Register</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

    <div class="card">

        <h1>Register New User</h1>

        {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash-message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

        <form action="/face-register" method="post">

            <p>Username</p>

            <input
                type="text"
                name="username"
                required
            >

            <p>
                Click Register and then press
                <strong>C</strong>
                in the webcam window.
            </p>

            <br>

            <button type="submit">
                Register With Face
            </button>

        </form>

        <br>

        <a href="/">
            Home
        </a>

    </div>

</body>

</html>